<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276622625872-6bu6vl4r3e1pnvn7qmit7km8itvch949.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276622625872-6bu6vl4r3e1pnvn7qmit7km8itvch949</string>
	<key>API_KEY</key>
	<string>AIzaSyAquWFeEhSkyxaJSs_BAc8gyav55Qo4L0k</string>
	<key>GCM_SENDER_ID</key>
	<string>276622625872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sergey.razgulyaev.GBShopRSN</string>
	<key>PROJECT_ID</key>
	<string>gbshoprsn-d17e1</string>
	<key>STORAGE_BUCKET</key>
	<string>gbshoprsn-d17e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276622625872:ios:e809d085c089919b7d9555</string>
</dict>
</plist>